<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button color="tertiary" expand="block" class="ios button button-block button-solid ion-activatable ion-focusable hydrated" (click)="presentActionSheet()">Show Action Sheet</ion-button>

  <ion-card class="sc-ion-card-ios-h sc-ion-card-ios-s ios hydrated"><!---->
    <img src="https://cdn.pixabay.com/photo/2019/06/22/06/31/sky-4290922__340.jpg">
    <ion-card-header class="ios hydrated">
      <ion-card-subtitle class="ios hydrated" role="heading" aria-level="3">Destination</ion-card-subtitle>
      <ion-card-title class="ios hydrated" role="heading" aria-level="2">Madison, WI</ion-card-title>
    </ion-card-header>
    <ion-card-content class="ios card-content-ios hydrated">
      Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
    </ion-card-content>
  </ion-card>

  <ion-card >
      <ion-card-header>
          Explorar
      </ion-card-header >
      <ion-list>
          <ion-item *ngFor="let item of lista">
            <ion-label>{{ item.titulo }}</ion-label>
            <ion-icon [ngStyle]="{'color': item.color}"  slot="start" name="alarm"></ion-icon>
          </ion-item>
          
        </ion-list>  
  </ion-card>

  

</ion-content>
